/*
Student Name:   Kartik Dholakia
Student Number: 121575203
Email:          kddholakia@myseneca.ca
Assessment:     Final
*/

/**
 * Styles for the add-observation.html page 
 */
.required:after {
  content: "* ";
  color: red;
}

#description {
  width: 560px;
}

#Latitude {
  color: red;
}

#Longitude {
  color: red;
}

#Latitude::before {
  content: " ";
}

#Longitude::before {
  content: " ";
}

#latitude {
  color: black;
}

#longitude {
  color: black;
}
